<h1>Flickr Jr.</h1>

<form method='post' action='/upload' enctype='multipart/form-data'>
  <input type='file' name='photofile'>
  <input type='submit' value='Upload'>
</form>

<!-- Display all photos below -->


<% @photos.each do |photo| %>
  <img src=<%= photo.image %>>
  <img src=<%= photo.thumbnail %>>
<% end %>
